body{
    background-image: url("../img/resim2.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1, h2{
    font-style: italic;
}

.menu{
    background-color: aqua;
    padding: 8px;
}

.menu a{
    text-decoration: none;
    padding: 0px 8px;
}

.icerik{
    background-color: brown;
    padding: 2px 8px;
    margin: 8px 0px;
    text-align: justify;
}

table, td, th{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

table{
    background-color: coral;
}
